@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&subset=cyrillic')
@import './variables.sass'

@import ~bulma
@import ~bulma-tooltip
.navbar-item
  padding: 0.25rem 0.375rem


.features
  padding: 5rem 0



.text-container
  position: relative
  color: white
  overflow: hidden

.bottom-left
  position: absolute
  bottom: 0px
  left: 0px
  font-size: 0.75rem
  text-align: left
  width: 100%
  padding: 10px
  background-color: rgba(0, 0, 0, 0.6)

.detail-header
  background-color: #d7d7d7
  padding: 8px
  font-weight: 500
  overflow: hidden
  max-height: 40px

.detail-content
  padding: 8px
  overflow: hidden
  max-height: 135px

.overflow-x
  overflow-x: auto

+desktop
  .tabs.is-right-desktop
    ul
      -webkit-box-pack: end
      ms-flex-pack: end
      justify-content: flex-end



.tag-helper
  height: 2em

.zero-side-margin
  margin-left: 0
  margin-right: 0

.preview-image
  display: block
  margin: 0 auto
  max-height: 400px